@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* 
    font-family: 'Lobster', cursive; */
}
.header-tags {
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p {
    font-size: 18px;
    color: #707070;
}

/* ✅✅✅✅✅✅ Header area ✅✅✅✅✅✅ */

.top-header{
    display: flex;
    align-items: center;
    background-color: 
    #FAFAFA;
}
.background-img{
    background-image: url(/images/pink\ c.png), url(/images/pink\ c.png);   
    background-size:653px, 811px ;
    background-repeat: no-repeat;
    background-position:bottom;
    background-position-x: 600px, 520px;


}
.header-left{
    margin-left:100px ;
    width: 40%;
    margin-top: 66px;
}
.header-right{

    width: 60%;
    margin-top: 66px;
    
}

.btn-primary{
    border: 0;
    background-color: #FF5959;
    padding: 14px 22px;
    border-radius: 5px;
    font-size: 20px;

}

.video-button {
    color: black;
    border: 0;
    background-color: white;
    font-size: 22px;
    margin-left: 30px;
    
}

.header-img {
    margin-left: 70px;
    width: 470px;
    height: 583px;
    font-family: 'Inter', sans-serif;
}