@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* 
    font-family: 'Lobster', cursive; */
}

.header-tags {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p {
    font-size: 18px;
    color: #707070;
}

.sub-text {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    text-align: center;
    margin: 0;
}

/* ✅✅✅✅✅✅ Header area ✅✅✅✅✅✅ */

.top-header {
    display: flex;
    align-items: center;
    background-color:
        #FAFAFA;
    margin-bottom: 130px;
}

.background-img {
    background-image: url(/images/pink\ c.png), url(/images/pink\ c.png);
    background-size: 653px, 811px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 600px, 520px;


}

.header-left {
    margin-left: 100px;
    width: 40%;
    margin-top: 66px;
}

.header-right {

    width: 60%;
    margin-top: 66px;

}

.btn-primary {
    border: 0;
    background-color: #FF5959;
    padding: 14px 22px;
    border-radius: 5px;
    font-size: 20px;
    color: white;

}

.video-button {
    color: black;
    border: 0;
    background-color: white;
    font-size: 22px;
    margin-left: 30px;

}

.header-img {
    margin-left: 70px;
    width: 470px;
    height: 583px;
    font-family: 'Inter', sans-serif;
}

/* ✅✅✅✅✅✅✅ Donate section ✅✅✅✅✅✅✅ */
.all-amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-box {
    width: 135px;
    height: 123px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.amount-box:hover {
    background-color: #FFEEEE;
    color: #FF5959;
}

.amount-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 695px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;

}

.amount-input:focus {
    outline: none !important;
    border-bottom: 2px solid black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ✅✅✅✅✅✅✅ Donate-plans ✅✅✅✅✅✅✅*/

.donate-plans {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.plans1 {
    box-sizing: border-box;
    width: 360px;
    height: 352px;
    background-color: rgba(79, 157, 166, 0.1);
    padding: 60px 23px 0 23px;
    border-radius: 10px;
    margin: 0 12.5px;
}

.plans2 {
    box-sizing: border-box;
    width: 360px;
    height: 352px;
    background-color: rgba(255, 89, 89, 0.1);
    padding: 60px 23px 0 23px;
    border-radius: 10px;
    margin: 0 12.5px;
}

.plans3 {
    box-sizing: border-box;
    width: 360px;
    height: 352px;
    background-color: #FFF4D6;
    padding: 60px 23px 0 23px;
    border-radius: 10px;
    margin: 0 12.5px;
}

/* ✅✅✅✅✅✅✅ homeless-area ✅✅✅✅✅✅✅  03 */

.homeless-area {
    display: flex;
    align-items: center;
    margin: 130px 100px;
}

.homeless-left {
    width: 50%;
    margin-right: 100px;
}

.homeless-right {
    width: 50%;
}

.homeless-img {

    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homeless-right2 {
    width: 50%;
    margin-left: 100px;
}